$primary-bgcolor: #151515;
$secondary-bgcolor: #070707;
$primary-font-color: #ffdb58;
$secondary-font-color: #00db58;
$title-font-color: #77db99;
$caption-font-color: #000000;
$primary-font-family: 'Varela Round', sans-serif;
$secondary-font-family: 'Montserrat', sans-serif;