nav {
	@include space();
}

#main-nav {
	z-index: +1;
	position: fixed;
	top: 0;
	@include font-settings();
	background-color: $primary-bgcolor;
	a {
		@include space();
		display: inline-block;
		width: 5em;
		text-align: center;
	}
	grid-area: main-nav;
}

#footer {
	background-color: #070707;
	position: fixed;
	right: 0;
	top: 20vh;
	border-radius: 15px 0px 0px 15px;
	flex-flow: column;
	img {
		width: 30px;
		height: 30px;
		&:hover {
			transform: scale(1.25)
			// width: 40px;
			// height: 40px;
		}
	}
	grid-area: footer;
}